

/* Sections  */

.title {
    text-align: center;
    background-color: #ffd1bd;
} 

.skills {
    text-align: center;
    background-color: #ffffff;
}




/* Text  */

.cursive {
    font-family: 'Dancing Script', cursive;
    padding-bottom: 3%;
}

.languages-and-skills-heading {
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
}


/* Image Styles */



.title-image {
    max-width: 20%;
    max-height: 20%;
}

 .skills-image {
     margin: auto;
     max-width: 10%;
} 

.css-image {
    max-width: 7%;
    margin: auto;
} 

.skills-image-scaledown {
    max-width: 20%;
    margin: auto;
}







 /* Carousel Styles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: blue;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: blue;
}



#skillsCarousel {
    padding-top: 3%;
    text-align: center;
}

@media only screen and (max-width: 700px) {
  .carousel-control-prev-icon:after {
      font-size: 25px;
  }
  .carousel-control-next-icon:after {
      font-size: 25px;
  }
}









